.post-list {
  padding: 0;
}

.post-list .post-item {
  display: flex;
  list-style-type: none;
  margin-bottom: 16px;
}

.container-empty-post {
  text-align: center;
  margin-bottom: 16px;
}

.empty-content {
  width: 100%;
}

.img-empty {
  height: 30%;
  width: 35%;
}
